doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(content='telephone=no,email=no', name='format-detection')
        meta(http-equiv='x-dns-prefetch-control', content='on')
        script(src="/resources/dep/flexible.js")
        script(src="/resources/dep/flexible_css.js")
        link(href="/resources/css/demo.css", rel="stylesheet")
    body
        .item_section.ft_12
            .item_section_header
                h2
                    img(src="/resources/img/header.png")
            ul
                li.flag
                    a.figure.flag_item(href="javascript:;")
                        img(src="/resources/img/good.png")
                    .figcaption.flag_item
                        .flag_title
                            a(href="javascript:;") Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093
                        .flag_price
                            span.ft_11 双11价
                            strong.ft_16 Y299.06
                            small.ft_12 (满400减100)
                        .flag_type 1小时内热卖5885件
                        a.flag_btn.ft_14(href="javascript:;") 马上抢
